.main-container {
    background-color: #fff;
    border-radius: .25em;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.5);
    max-width: 1200px;
    margin:auto;
}

.input-container {
    margin: 7px 0px;
}

.reset-btn {
    width:90px;
    margin-left:25px;
}

.body-bg {
    background-image: url('imgs/bg.jpg');
    background-repeat: no-repeat;
    object-fit:cover
}